.theme-change__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 9999px;
}

.theme-change__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #24b47e;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .theme-change__slider {
  background-color: #545454;
}

input:checked + .theme-change__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
