.bicycles__slider-image {
  @include box-shadow;
  width: 100%;
  height: auto;
  max-height: 380px;
  max-width: 380px;
  border: 20px solid $background-light-color;
  box-sizing: border-box;
  border-radius: 20px;

}

@media screen and (max-width: $breakpoint-laptop) {
 .bicycles__slider-image {
   max-height: 260px;
   max-width: 260px;
 }
}

@media screen and (max-width: $breakpoint-tablet) {
 .bicycles__slider-image {
  max-height: 210px;
  max-width: 210px;
   border: none;
 }
}

@media screen and (max-width: $breakpoint-large-mobile) {
 .bicycles__slider-image {
   @include box-shadow;
   box-sizing: content-box;
   border: 20px solid #f4f4f4;
   height: 254px;
   width: 254px;
 }
}
