.workout-apps__background-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: $breakpoint-large-mobile) {
 .workout-apps__background-image {
  max-width: 284px;
  max-height: 225px;
  order: 2;
  position: absolute;
  bottom: 250px;
 }
}
