.about__text-container {
  padding-right: 250px;
  padding-top: 60px;
}

@media screen and (max-width: $breakpoint-laptop) {
 .about__text-container {
   padding-right: 120px;
 }
}

@media screen and (max-width: $breakpoint-tablet) {
 .about__text-container {
   padding-right: 40px;
 }
}

@media screen and (max-width: $breakpoint-large-mobile) {

}

@media screen and (max-width: $breakpoint-mobile) {

}
