.footer__theme-light-button {
  border: none;
  height: 28px;
  width: 28px;
  background-image: url('../images/theme-switch-ui/light-theme.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 22px;
  background-color: transparent;
}
