@import "./__header/bicycles__header.scss";
@import "./__filter-menu/bicycles__filter-menu.scss";
@import "./__filter-menu-item/bicycles__filter-menu-item.scss";
@import "./__filter-menu-link/bicycles__filter-menu-link.scss";
@import "./__filter-menu-link/_active/bicycles__filter-menu-link_active.scss";
@import "./__slider-wrapper/bicycles__slider-wrapper.scss";
@import "./__slider-item/bicycles__slider-item.scss";
@import "./__slider-image/bicycles__slider-image.scss";
@import "./__slider-caption/bicycles__slider-caption.scss";

.bicycles {
  max-width: 1440px;
  padding-top: 60px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 60px;
}
