.header__burger-content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color:#F4F4F4;
  top: 74px;
  right: 0px;
  z-index: 3;
  width: 100%;
  min-height: 566px;
}
