.bicycles__mobile-pagination {
  display: none;
}

@media screen and (max-width: $breakpoint-large-mobile) {
  .bicycles__mobile-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
