.header__burger-button {
  background-image: url("../images/burger-menu.png");
  border: none;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  cursor: pointer;
  background-size: contain;
  margin-right: 18px;
}
