@import "./__list/header__list.scss";
@import "./__list-item/header__list-item.scss";
@import "./__link/header__link.scss";
@import "./__list-item/_burger-menu/header__list-item_burger-menu.scss";
@import "./__burger-button/header__burger-button.scss";
@import "./__burger-content/header__burger-content.scss";
@import "./__burger-link/header__burger-link.scss";
@import "./__burger-list-item/header__burger-list-item.scss";
@import "./__burger-nav/header__burger-nav.scss";
@import "./__burger-list/header__burger-list.scss";
@import "./__burger-content/_opened/header__burger-content_opened.scss";
@import "./__burger-button/_opened/header__burger-button_opened.scss";

.header {
  display: flex;
  width: 100%;
  height: $header-height;
  background-color: inherit;
  align-items: center;
  position: fixed;
  z-index: 99;
}
