@import "./__image/author__image.scss";
@import "./__info-wrapper/author__info-wrapper.scss";
@import "./__quote/author__quote.scss";
@import "./__description/author__description.scss";
@import "./__name/author__name.scss";
@import "./__occupation/author__occupation.scss";

.author {
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 120px;
  padding-left: 120px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $breakpoint-laptop) {
  .author {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .author {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: $breakpoint-large-mobile) {
  .author {
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }
}
