.road__slider {
  display: flex;
  width: 100%;
  padding-top: 80px;
}

@media screen and (max-width: $breakpoint-tablet) {
 .road__slider {
   padding-top: 40px;
 }
}

@media screen and (max-width: 690px) {
  .road__slider {
    justify-content: center;
  }
 }

@media screen and (max-width: $breakpoint-large-mobile) {
 .road__slider {
   order: 2;
 }
}

