.bicycles__slider-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $breakpoint-large-mobile) {
 .bicycles__slider-wrapper {
   @include box-shadow;
   justify-content: center;
   border-radius: 20px;
   cursor: pointer;
 }
}

@media screen and (max-width: $breakpoint-mobile) {

}
