.bicycles__slider-caption {
  @include font-size(18, 22, 600);
  padding-top: 22px;
}

@media screen and (max-width: $breakpoint-laptop) {
 .bicycles__slider-caption {
   @include font-size(16, 18, 600)
 }
}

@media screen and (max-width: $breakpoint-tablet) {
  .bicycles__slider-caption {
    @include font-size(12, 14, 600);
    padding-top: 11px;
  }
}

@media screen and (max-width: $breakpoint-large-mobile) {
  .bicycles__slider-caption {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 16px;
  }
}
