.about__bike-fix {
  @include box-shadow;
  position: sticky;
  width: 440px;
  height: 300px;
  background-image: url(../../../../../images/about/about-bicycle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: $background-light-color;
  top: 347px;
}

@media screen and (max-width: $breakpoint-laptop) {
  .about__bike-fix {
    width: 380px;
    height: 280px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {

}

@media screen and (max-width: $breakpoint-large-mobile) {

}

@media screen and (max-width: $breakpoint-mobile) {

}

