$base-font-family: "Inter", Arial, sans-serif;
$background-light-color: #f4f4f4;
$background-dark-color: #333333;
$font-light-color: #151515;
$font-dark-color: #ffffff;

$header-height: 74px;
$title-letter-spacing: -0.5px;
$text-opacity: 70%;
$text-container-width: 460px;
$about-button-color: #24b47e;
$section-bottom-padding: 120px;
