@import "./__details-button/about__details-button.scss";
@import "./__model-description/about__model-description.scss";
@import "./__model-name/about__model-name.scss";
@import "./__breakline/about__breakline.scss";
@import "./__bike-fix-container/about__bike-fix-container.scss";
@import "./__bike-fix/about__bike-fix.scss";
@import "./__background-image/about__background-image.scss";

.about {
  position: relative;
  min-width: 1440px;
  min-height: 836px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: $section-bottom-padding;
  padding-left: 120px;
}
