.workout-apps__text-container {
  display: flex;
  flex-direction: column;
  padding-right: 160px;
}

@media screen and (max-width: $breakpoint-laptop) {
 .workout-apps__text-container {
   padding-right: 80px;
 }
}

@media screen and (max-width: $breakpoint-tablet) {
  .workout-apps__text-container {
    padding-right: 40px;
  }
}

@media screen and (max-width: $breakpoint-large-mobile) {

}

@media screen and (max-width: $breakpoint-mobile) {

}
